.content {
  padding: 20px 10px;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.header {
  margin-left: 20px;
  margin-right: auto;
}
.avatar {
  margin-right: 12px;
}
.name {
  font-size: 18px;
}
.email {
  font-size: 14px;
  margin-top: 10px;
}
.content i {
  cursor: pointer;
}
.ui.main {
  margin-top: 80px;
}
